<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi40LWcwFHORhnPaMLIiwBkzPeD6lcneo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047551760167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lobolabs.awsini</string>
	<key>PROJECT_ID</key>
	<string>awsini-app</string>
	<key>STORAGE_BUCKET</key>
	<string>awsini-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047551760167:ios:b8baa62c2e276ce2abfb02</string>
</dict>
</plist>